@font-face {
    font-family: "fontNav";
    src: url(../fonts/Great_Vibes/GreatVibes-Regular.ttf);
}

@font-face {
    font-family: "page";
    src: url(../fonts/Raleway/Raleway-Medium.ttf);
}

@font-face {
    font-family: "lettrine";
    src: url(../fonts/lettrine/FoliarInitials.ttf);
}

@font-face {
    font-family: "dosis";
    src: url(../fonts/Dosis/Dosis-VariableFont_wght.ttf);
}

@font-face {
    font-family: "quicksand";
    src: url(../fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}