html {
    font-family: "quicksand";
    font-weight: 100;
    color: var(--color-font-main);
    letter-spacing: 1px;
    font-size: 0.9rem;
    background-color: var(--color-background-main);
}

p {
    line-height: 1.6;
}
